extends layout

block content
 .jumbotron
      .container
        h1 #{title}
        p
          | Information.
        p
          a.btn.btn-primary.btn-lg(href='#', role='button') Learn more »
    .container
      .row
        .col-md-3
          h2 Title 1
          p
            | Something about something 1.
          p
            a.btn.btn-default(href='#', role='button') View details »
        .col-md-3
          h2 Title 2
          p
            | Something about something 2.
          p
            a.btn.btn-default(href='#', role='button') View details »
        .col-md-3
          h2 Title 3
          p
            | Something about something 3.
          p
            a.btn.btn-default(href='#', role='button') View details »
        .col-md-3
          h2 Title 4
          p
            | Something about something 4.
          p
            a.btn.btn-default(href='#', role='button') View details »
        .col-md-3
          h2 Title 5
          p
            | Something about something 5.
          p
            a.btn.btn-default(href='#', role='button') View details »
        .col-md-3
          h2 Title 6
          p
            | Something about something 6.
          p
            a.btn.btn-default(href='#', role='button') View details »
        .col-md-3
          h2 Title 7
          p
            | Something about something 7.
          p
            a.btn.btn-default(href='#', role='button') View details »
        .col-md-3
          h2 Title 8
          p
            | Something about something 8.
          p
            a.btn.btn-default(href='#', role='button') View details »